/* Last edited by: Julia Caro */
/* Last edited on: June 4, 2024 */

/* CSS reset */
* {
  padding: 0;
  margin: 0;
}

/* html, body, and the content div */
html, body, .content {
  height: 100vh;
  width: 100vw;
}

/* the paragraph itself*/
p {
  max-width: 620px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}